# Compiled files
*.class
out/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# idea files
.idea/
AAApp.iml
src/META-INF/

# other files
kotlinx.cli
.vscode
lib/apache-log4j-2.13.1-bin/*
*.db

# Allow
!lib/kotlinx-cli-0.2.1.jar
!lib/apache-log4j-2.13.1-bin/log4j-api-2.13.1.jar
!lib/apache-log4j-2.13.1-bin/log4j-core-2.13.1.jar
!lib/h2-1.4.200.jar
!lib/flyway-core-6.3.2.jar
